/* ----- CUSTOM PROPERTIES ----- */

:root {
  --clr-neutral-200: #ffffff; /* Borders */
  --clr-neutral-300: #bfc4c0;
  --clr-neutral-400: #4a4e74; /* Icons */
  --clr-neutral-700: #2b2839; /* Text */

  --ff-regular: "Noto Serif JP", serif;

  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 700;
}

/* ----- CSS RESET ----- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ----- GENERAL STYLES ----- */

body {
  display: grid;
  grid-template: auto / 1fr 320px 1fr;
  background-color: rgba(14, 106, 244, 0.946);
}

.placeholder {
  grid-column: 2 / 3;
  justify-content: center;
  width: 320px;
  font-family: var(--ff-regular);
  color: var(--clr-neutral-700);
  text-align: center;
  padding-top: 1rem;
}

/* ----- TYPOGRAPHY ----- */

h1 {
  color: var(--clr-neutral-200);
}

#dana {
  font-size: 7.125rem;
  line-height: 5rem;
}

#codes {
  display: block;
  font-size: 6.75rem;
  line-height: 4.75rem;
}

#under {
  font-size: 6.5rem;
  line-height: 8rem;
}

#construction {
  font-size: 3.1rem;
  line-height: 0.5rem;
}

#watch {
  font-size: 6.75rem;
  line-height: 8rem;
}

#this {
  font-size: 11rem;
  line-height: 7rem;
}

#space {
  font-size: 7.25rem;
  line-height: 5.5rem;
}

#coming {
  font-size: 5.325rem;
  line-height: 6.5rem;
}

#soon {
  font-size: 8.5rem;
  line-height: 3.5rem;
}

#stay {
  font-size: 10.125rem;
  line-height: 9.5rem;
}

#tuned {
  font-size: 6.875rem;
  line-height: 6rem;
}
